.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius:8px;
}


.search input {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ddd;
  color: #333;
  cursor: pointer;
}

.button:hover {
  background-color: #333;
  color: #fff;
}